/* Reference: Adrian Roselli - https://adrianroselli.com/2020/11/under-engineered-responsive-tables.html */

body {
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.4;
  background-color: #fff;
  color: #000;
}


table {
  margin: 0;
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
}

caption {
  text-align: left;
  font-weight: 700;
  padding: 0.5em;
  color: #000;
}

th,
td {
  padding: 0.5em 0.75em;
  vertical-align: top;
  text-align: left;
  border: 1px solid #000;  
}

th {
  vertical-align: bottom;
  background-color: #fff;
  color: #000;
  font-weight: 700;
}

.note {
  display: block;
  font-size: 0.85em;
  color: #000;
  margin-top: 0.35em;
  font-style: italic;
}

.note-row td {
  border-top: none;
  font-style: italic;
}


ol {
  line-height: 1.6;
}


[role="region"][aria-labelledby][tabindex] {
  overflow: auto;
  border: 1px solid #000;
  margin-bottom: 1.5em;
}

[role="region"][aria-labelledby][tabindex]:focus {
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  outline: 2px solid #000;
}

[role="region"][aria-labelledby][tabindex] table {
  margin: 0;
  border: none;
}

/* Scrolling visual cue */
[role="region"][aria-labelledby][tabindex] {
  background: linear-gradient(to right, #fff 30%, rgba(255, 255, 255, 0)),
    linear-gradient(to right, rgba(255, 255, 255, 0), #fff 70%) 0 100%,
    radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
  background-position: 0 0, 100%, 0 0, 100%;
  background-attachment: local, local, scroll, scroll;
}